@font-face {
   font-family: Montserrat;
   src: url("assets/fonts/Montserrat-ExtraLight.ttf");
}

* {
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
}

.nav-items {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

html {
   scroll-behavior: smooth;
}

.nav-items {
   list-style: none;
}

.nav-link {
   padding: 0 20px;
   line-height: 50px;
   transition: .3s;
}

.nav-item a {
   color: #000000;
   text-decoration: none;
   font-size: 10px;
   transition: color 0.5s;
}

.nav-item a:hover {
   color: #5b5b5b;
} 

